# Dependencies
/node_modules
/venv
/2_backend_node/node_modules
/3_backend_python/venv
/1_frontend/node_modules

# Logs and cache
*.log
npm-debug.log*
.DS_Store

# Python Caches
__pycache__/
*.pyc

# Database (local only)
/2_backend_node/db.json